extends layout

block content
    link(rel='stylesheet', href='/stylesheets/pca.css')
    h1= title
    p Welcome to #{title}
    div(class="card")
        div(class="card-content")
            div(class="card-title") Files
            div(class="card-body")
                form(encrypt="multipart/form-data" id="file-upload-form")
                    input(type="hidden" id="csrfToken" name="_csrf" value= csrfToken)
                    div(class="file-field input-field")
                        div(class="btn")
                            span File
                            input(type="file" name="transcriptome" id="files" multiple)
                        div(class="file-path-wrapper")
                            input(class="file-path validate" type="text" placeholder="upload one or more files")
    
    script(type="text/javascript", src='/javascripts/pca.js')
    script(type="text/javascript", src='/javascripts/papaparse.min.js')