<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Base</title>
        <link rel="stylesheet" href="../static/css/materialize.min.css">
        <script src="../static/javascripts/jQuery.js"></script>
        <script src="../static/javascripts/d3.min.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    <script src="../static/javascripts/jquery-ui.min.js"></script>
    <script src="../static/javascripts/papaparse.min.js"></script>
    <script src="../static/javascripts/materialize.min.js"></script>
    <script src="../static/javascripts/plotly.min.js"></script>
    <script src="../static/javascripts/messenger.js"></script>
    <script src="../static/javascripts/base.js"></script>
    <link rel="stylesheet" href="./static/css/base.css">
</html>