{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../../static/css/login.css">
<div class="valign-wrapper row login-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form action="/login" method="POST" name="login" class="form container" id="login_form">
            <div class="card-content">
                <span class="card-title"><h3>Pharmer</h3></span>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="email">Email address</label>
                        <input type="email" class="validate" name="email" id="email" />
                    </div>
                    <div class="input-field col s12">
                        <label for="password">Password </label>
                        <input type="password" class="validate" name="password" id="password" />
                    </div>
                </div>
                <div class="center-align">
                    <input type="submit" class="btn green waves-effect waves-light" value="Login">
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="../../static/javascripts/login.js"></script>
{% endblock %}